{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "code": true,
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "~": "./src",
          "config": "./src/config",
          "core": "./src/core",
          "domains": "./src/domains",
          "modules": "./src/modules",
          "support": "./src/support"
        }
      },
    ],
    ["transform-runtime"]
  ]
}
