{
  "presets": [
    "es2015",
  ],
  "code": true,
  "plugins": [
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": {
          "~": "./src"
        }
      },
      "transform-async-to-generator"
    ]
  ]
}
