const config = {
  env: {
    port: 3000
  },

  locales: {
    list: ['en', 'pt_br'],
    default: 'en'
  },

  database: {
    prod: {
      dialect: 'mysql',
      host: 'localhost',
      port: 3306,
      db: 'koa_api',
      user: 'root',
      password: 'secret',
      min_pool: 0,
      max_pool: 5,
      pool_idle: 10000
    },
    test: {
      dialect: 'sqlite',
      storage: ':memory:'
    }
  }
}

export default config
